* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Branding Standards */
:root{
    --mainfont: Helvetica, Arial, sans-serif;
    --headingsize: 24px;
    --subtitlesize: 18px;
    --textsize: 12px;
    --white: white;
    --black: black;
    --lightgrey: rgb(184,184,184);
    --borderradius: .3rem;
    --lightblue: #5A95CF;
    --weathercard: #2D3E50;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}
body{
   font-size: var(--textsize);
   color: var(--black);
   font-family: var(--mainfont);
}
.title{
    color: var(--white);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(95,150,208,1) 0%, rgba(9,9,121,1) 75%, rgba(2,0,36,1) 100%);
    text-align: center;
    font-size: var(--headingsize);
    padding:10px;
    margin:10px;
}
.subtitle{
    font-size: var(--subtitlesize);
    display: inline-block;
    margin-bottom: 10px;
}
.flex-container{
    display:flex;
    flex-direction: row;
}
.search-column{
    margin:5px 10px;
    width:25%;
}
.city-search{
    border-bottom: 2px solid var(--lightgrey);
}
.form-input{
    width:100%;
    padding: 3%;
    border: 1px solid var(--lightgrey);
    border-radius: var(--borderradius);
}
.btn{
    width:100%;
    padding: 3%;
    background-color: var(--lightgrey);
    color: var(--white);
    border: none;
    border-radius: var(--borderradius);
    cursor: pointer;
    margin:10px 0px;
}
.search-button{
    background-color: var(--lightblue);
}
.weather{
    width:75%;
    margin:5px 10px 5px 0px;
    height:100vh;
}
.todaysWeather{
    border: 1px solid var(--lightgrey);
    padding: 5px;
    width:100%;
    height:50%;
}
.infoList{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    height:fit-content;
}
/* .infoList p{
    margin: 5px;
} */
.icon{
   display: inline-block;
   vertical-align: middle;
   height: 30px;
   margin-bottom: 10px;

}
.forecast{
    height: 50%;
    display:flex;
    justify-content: space-around;
}
.forecast-card{
    background-color: var(--weathercard);
    color: var(--white);
}
.forecast-card h4{
    text-align: center;
}
.dateTitle{
    font-size:14px;
}